[submodule "submodules/asserts"]
	path = submodules/asserts
	url = https://github.com/jeremy-rifkin/asserts
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui
[submodule "submodules/magic_enum"]
	path = submodules/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "submodules/SPIRV-Cross"]
	path = submodules/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "submodules/tracy"]
	path = submodules/tracy
	url = https://github.com/wolfpld/tracy
[submodule "submodules/vk-mem-alloc"]
	path = submodules/vk-mem-alloc
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "submodules/volk"]
	path = submodules/volk
	url = https://github.com/zeux/volk
[submodule "submodules/Vulkan-Headers"]
	path = submodules/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
